node_modules
/apps/accumulators/.next
/apps/accumulators/.turbo
/apps/home/.turbo
/apps/digits/.next
/apps/analytics/.turbo
/apps/analytics/.next
/apps/digits/.turbo
/apps/rise-fall/.next
/apps/rise-fall/.turbo
/apps/accumulators/.env.production
/apps/digits/.env.production
/apps/rise-fall/.env.production
/apps/analytics/.env.production
/apps/digits/out
/apps/analytics/out
/apps/rise-fall/out
/apps/accumulators/out
/apps/*/public/*.smartcharts.*
/apps/*/public/assets
/apps/*/public/chart
/apps/*/public/js/smartcharts